:host {
    display: inline-block;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 15px;
    line-height: 15px;
    color: #666;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
}

:host:not(.parent-is-popup) {
    margin-left: 16px;
    width: auto;
}

:host(.vertical-menu) {
    display: block;
    margin-left: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #FFF;
}

span, i {
    pointer-events: none;
}

.fa {
    top: 1px;
    font-size: 14px;
    margin-right: 4px;
    margin-left: 8px;
}

.menu-item {
    padding: 10px 10px 10px 0;
    &:hover {
        background-color: #dfd;
    }
    &.vertical-menu {
        padding: 6px 6px 6px 0;
        &:hover {
            background-color: green;
        }
    }
}

.router-link-active {
    background-color: #dfd;
    &.vertical-menu {
        background-color: green;
    }
}